@model bandTogether.Models.ViewModels.BandSocialViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="socialContainer">

    <div id="facebookPosts" style="max-height: 700px; max-width: 370px; background-color: darkblue; text-align: center; border-radius: 15px;">
        <h2 style="color: white;">facebook</h2>
        <div class="postScroller" style="overflow-y: scroll; overflow-x: hidden; max-width: 360px; max-height: 650px; background-color: white; display: inline-block; ">
            @foreach (var permaLink in Model.facebookPermalinks)
            {
                <div class="postContainer">
                    <div class="fb-post" data-href="@permaLink" data-width="330">
                    </div>
                </div>

            }

        </div>
    </div>

    <div id="twitterPosts" style="max-height: 700px; max-width: 370px; background-color: deepskyblue; text-align: center; border-radius: 15px;">
        <h2 style="color: white;">twitter</h2>
        <div class="postScroller" style="overflow-y: scroll; overflow-x: hidden; width: 360px; max-height: 650px; background-color: white; display: inline-block; ">

            <a class="twitter-timeline" href="https://twitter.com/MudDogHC?ref_src=twsrc%5Etfw">Tweets by MudDogHC</a>



        </div>
    </div>

</div>




<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

